
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
figure{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}
