@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#bgVideo{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
}

section {
	display: flex;
	position: absolute;
	flex-direction: column;
	top: 35%;
	width: 100%;
	align-items: center;
	color: white;
	left: 0;
}

h2{
	font-size: 12pt;
	width: 35%;
	text-align: center;
}

h1 {
	font-size: 48pt;
	text-align: center;
}

p{
	text-align: center;
}
