@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

html, body {
  margin:0px;
  height:100vh;
}

#links {
	height: 100vh;
	width: 100vw;
	display: flex;
	border: solid 4px red;
}

#hello {
	height: 100vh ;
	background: linear-gradient(rgba(0,255,0,0) 80%, rgba(255,255,255,1)) 80%, url("../media/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#greetings{
	position: absolute;
	top: 40%;
	left: 0%;
	width: 100%;
	text-align: center;
}

#content{
	width: 75%;
	padding: 25px;	
}

body {
	font-family: "Varela Round", sans-serif;
}


h1{
	margin: 0;
	font-size: 72pt;
}


h1, h2{
	text-align: center;
}

p{
	text-align: justify;
	padding: 5px;
}

footer{
	background: teal;
	font-size: 8pt;
	bottom: 0;
	color: rgba(255,255,255,0.35);
	text-align: center;
	justify-content: space-between;
	display: flex;
  	width: 100%;
  	margin: 0 auto;
}

	
