html, body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: "Noto Sans Condensed", sans-serif;
    color: white;
}
#canvas{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

#profile{
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

h1 {
    font-weight: bolder;
}

#pfp {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: azure solid 05px;
    border-radius: 100%;
}

#netlinks{
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}